{% extends 'themes/default/app/layout/layout.html.twig' %}

{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('default_homepage') }}
{% endblock %}

{% block title %}Angkor Restaurant Aix-en-provence{% endblock %}

{% block main_content %}
    <header>
        <div class="page-title">
            <div class="container">
                <p class="subtitle">La cuisine cambodgienne à Aix-en-provence</p>
                <h1>Angkor Restaurant</h1>
                <p>
                    Cuisine familiale et inspirée des pays d'Asie, Angkor Restaurant 
                    vous propose de dégustez à emporter et en livraison nos plats 
                    fait maison en toute simplicité.
                </p>
                <div class="cta">
                    <a href="" class="btn btn-color0">Découvrir notre menu</a>
                </div>
            </div>
        </div>
    </header>

    <section class="part-1">
        <div class="container">
            <div class="illustration">
                <img src="{{ asset(path_images ~ "services.jpg") }}" alt="Angkor restaurant propose son menu">
            </div>

            <div class="content">
                <h2>Une délicieuse cuisine à portée de main</h2>
                <p>
                    Angkor Restaurant vous propose un service de vente à emporter avec 
                    une sélection spéciale de plats les plus appréciés que vous pourrez 
                    désormais déguster seul, accompagnés ou à partager en famille soit 
                    au bureau, soit à votre domicile.
                    <br><br>
                    Pour compléter cette offre, et pour le plus grand plaisir de tous, 
                    Angkor vous propose de découvrir sa nouvelle carte de Sushis.
                </p>
            </div>
        </div>
    </section>

    <section class="part-2">
        <div class="container">
            <h2>Un restaurant traditionnel et familial</h2>
            <div class="content">
                <div class="quote">
                    <span class="icon-quote"></span>
                </div>
                <p>
                    Angkor... une longue histoire de 8 années déjà, recommandé par Petit Futé 
                    depuis 2012, Gagnant Star Tripadvisor 2018, Certificat d'Excellence depuis 
                    2016 jusqu'à nos jours. Bien référencé sur Aix-en-Provence, classé depuis 
                    nos débuts parmi les 25 meilleurs premiers restaurants sur 627 établissements. 
                    <br><br>
                    Chaque matin, chaque jour, c'est pour vous donner le meilleur de nous-mêmes, 
                    vous accueillir chaleureusement, avec notre sourire, vous faire partager ce que 
                    nous savons faire de meilleur. Car notre priorité est votre satisfaction, avec 
                    humilité et discrétion. 
                    <br><br>
                    Nous le faisons jamais assez, mais nous tenons à vous 
                    remercier sincèrement pour votre confiance et pour votre fidélité, et espérons 
                    de tout cœur à pouvoir continuer à vous régaler.
                </p>
                <p>
                    Ida et Alexande
                </p>
            </div>
        </div>
        <div class="illustration">
            <div class="image"></div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('default_homepage') }}
{% endblock %}